/* Include ALL styles for the app here */

/* Global */

/* Global */
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    height: 100%;
    width: 100%;
    background: #FAF7FF;
    color: #474747;
}

h1 {
    font-size: 3em;
}


input, button {
    font-size: 1.5em;
}

label {
    margin-top: 25px;
    font-weight: bold;
    font-size: 1.2em;
}

#main {
    position: absolute;
    top: 100px;
    padding-left: 100px;
}

#login-section {
    margin-top: 50px;
    padding-left: 0;
}

#input-field{
    margin-top: 25px;
}

button {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 36px;
}

.errorMsg {
    font-weight: bold;
    color: red;
}

#welcome {
    font-size: 4em;
    color: orangered;
    margin-bottom: 25px;
}
/* Login */

/* Signup */

/* Fuel Calculator */

/* Fuel History */